*{
    margin: 0px;
}
.head{
width: 100%;
height: 900px;
border: 2px solid cadetblue;
background-color: cadetblue;
}

.data{
width: 100%;
height: 3000px;
border: 2px solid rgb(203, 236, 237);
background-color: rgb(203, 236, 237);
}
footer{
width: 100%;
height:180px;
background-color: cadetblue;
}
.c1{
width: 130px;
height: 60px;
float: left;
margin-top: 80px;
/* padding-left: 80px; */
margin-left: 100px;
}


.mount{
width: 100%;
height: 500px;
margin-top: 100px;
}


#name{
float: left;
font-family:"Sacramento", cursive;
font-size: 30px;
color:black;
font-weight: 200px;
margin-top: 300px;        
}
#cap{
    margin-top: 350px;
    margin-right: 100px;
}


/* body */
#photo{
border: 2px solid white;
width: 400px;
height: 400px;
margin-top: 200px;
margin-left: 430px;
border-radius: 50%;
background-image: url(./me.JPG);
background-repeat: no-repeat;
background-size: 400px 400px;


}